/*=====================================
    About
=====================================*/
.team {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    h1 {
        background: $black;
        color: $white;
        display: inline-block;
        padding: 10px 55px;
        margin-bottom: 1em;
    }
    .profile-picture {
        border-radius: 50%;
        margin-bottom: 30px;
        width: 180px;
        height: auto;
    }
    .team__member {
        background: #FFF;
        // padding: 1em;

    }
    .team__member-content {
        h3 {
            font-weight: bold;
            color: $black;
        }
        font-size: 14px;
        padding-left: 1em;
        padding-right: 1em;
    }
}

.blog .hero-image {
    margin-bottom: 0;
}
