/*=====================================
    About
=====================================*/
.team {
    .profile-picture {
        border-radius: 50%;
    }
    .team__member {
        lost-column: 1/3;
    }
}

.blog .hero-image {
    margin-bottom: 0;
}
