/*=====================================
Footer
=====================================*/
.footer-wrap {
  height: 200px;
  background: $white;
  .footer-nav {
    @media (max-width: 540px) {
      display: none;
    }
    padding: 3em 0;
    @media (min-width: 768px) {
      section:first-of-type {
        lost-column: 4/12;
      }
      section {
        lost-column: 2/12;
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      // font-family: $avenir;
      li {
        line-height: 1;
        margin-bottom: 10px;
      }
    }
    a {
      color: $grey;
      &:hover {
        text-decoration: underline;
      }
    }

    .social-icons .icon {
      fill: $black;
      margin: -6px;
      padding-right: 4px;
    }
  }
  .footer__callout {
    lost-utility: clearfix;
    background: $black;
    text-align: center;
    padding: 2em 0;
    .title {
      color: $white;
      margin: 0;
    }
    position: relative;
    .pay-methods {
      p {
        margin-top: 10px;
        // margin-bottom: -12px;
      }
      // position: absolute;
      // right: 1em;
      // top: 1.5em;
    }
  }
}
