.grid {
    // border: 5px solid red;
    display: inline-grid;
    @media (max-width: 540px) {
        grid-template-columns: initial;
    }
    @media (max-width: 1024px) {
        grid-template-columns: auto auto;
    }
    @media (min-width: 1200px) {
        grid-template-columns: auto auto auto;
    }
    width: 100%;
    border-top: 1px solid #ddd;
    &:last-child {
        border-bottom: 1px solid #ddd;
    }
    .item {
        h2 {
            text-transform: uppercase;
            font-weight: bold;
        }
        padding: 16px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 2em;
        &:nth-child(-n+2) {
            border-right: 1px solid #ddd;
        }
    }
    .item-logo {
        min-width: 300px;
    }
}