/*=====================================
  Utilities
=====================================*/
// @lost gutter 5px;

.full-height {
  height: calc(100vh - 100px) !important;
  // height: 500px;
}

.full-width {
  width: 100%;
  height: auto;
}

.lost-main {
  lost-column: 8/12;
}

.lost-aside {
  lost-column: 4/12;
}

.col2 {
  lost-column: 1/2;
}
.col3 {
  lost-column: 1/3;
}
.col4 {
  lost-column: 1/4;
}
.col5 {
  lost-column: 1/5;
}
.col6 {
  lost-column: 1/6;
}
.col7 {
  lost-column: 1/7;
}
.col8 {
  lost-column: 1/8;
}
.col9 {
  lost-column: 1/9;
}
.col10 {
  lost-column: 1/10;
}
.col11 {
  lost-column: 1/11;
}
.col12 {
  lost-column: 1/12;
}

.row,
.products {
  lost-utility: clearfix;
  margin-bottom: 20px;
}

.blog-container {
  lost-center: 700px;
  @media (max-width: 800px) {
    margin-left: 1em;
    margin-right: 1em;
  }
}

.container {
  lost-center: 1200px;
  @media (max-width: 1200px) {
    margin-left: 1em;
    margin-right: 1em;
  }
}

.full {
  lost-column: 1;
}

.half {
  @media (min-width: 768px) {
    lost-column: 1/2;
  }
}

.third {
  lost-column: 1/3;
}

.fifth {
  lost-column: 1/5;
}

.quarter {
  lost-column: 1/4;
  @media (max-width: 800px) {
    lost-column: 1/2;
  }
}

.fullsize {
  width: 100%;
  height: auto;
}

.button {
  border: 1px solid $primary-color;
  padding: 10px 15px;
  background: none;
  color: $primary-color;
  &:hover {
    background: $primary-color;
    color: $white;
  }
}

.tiny-hr {
  height: 2px;
  background: $white;
  display: block;
  width: 30px;
  margin: 10px 0;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}
