/*=====================================
    Variables
=====================================*/

/* Color Palette */
$primary-color: #FFD673;
$secondary-color: #78DCB6;
$black: #1A1A1A;
$grey: #818181;
$light-grey: #F7F7F7;
$white: #FFF;
$offyellow: #FFEDB2;

// $hero-height: calc(100vh - 100px);
$hero-height: 450px;
